body {
    font-family: 'Roboto light', sans-serif;
}

.bg-nav-form {
    background-color:rgb(180, 70, 178);
   
}

#bg-header {
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-size: 100% 100%;
  }

.tam-img {
    width: 15em;
    height: 20em;


}

